[2018-05-29 14:53] joshmgrant commented on #796
#797

[2018-05-29 15:02] joshmgrant commented on #796
Huh, this is more complicated than I thought (see above PR @ArneBachmann)

[2018-05-29 22:44] kuahyeow opened #798 "'hopefully' is a bit of a skunked term"
I ran into this while running proselint over some of my own writing. This was genuinely surprising to me.

Given that the term seems to have been controversial only from the 1960s, and that the AP have updated their stylebook to accept the new meaning - 'it is hoped', is it possible to remove this from `skunked_terms` ?

https://www.washingtonpost.com/lifestyle/style/aps-approval-of-hopefully-symb

[2018-05-31 12:35] joshmgrant commented on #796
Huh, this is more complicated than I thought (see above PR @ArneBachmann)

[2018-06-03 03:53] Gigahawk opened #800 "Add checks for capitalizing the beginning of sentences."
Will require some kind of function that splits the given text into individual sentences, NLTK can do this but that's probably overkill and I was thinking of just taking [this](https://stackoverflow.com/a/31505798) and putting it in `tools.py`.

The check would just take the output of that function and return a warning for every line where the first alphabetic character isn't capitalized.

[2018-06-13 06:10] RyanMcCarl commented on #534
I created a simple regex-based solution that should catch most cases: https://github.com/amperser/proselint/pull/802

I'm open to suggestions for improving it.

Example:
[Passive voice regex test 2018-06-12.pdf](https://github.com/amperser/proselint/files/2096776/Passive.voice.regex.test.2018-06-12.pdf)

[2018-06-13 23:15] alok opened #803 "spacing false positive"
I use pandoc to prettify markdown (via `pandoc -f markdown -t markdown`) and it puts 2 spaces after ordered lists to follow a 4 space indent rule. Proselint thinks this is an error. At least in the case where the ordered list is separated from the rest of the text by newlines, this may be worth detecting.

[2018-06-19 08:45] compor commented on #803
I have the same issue. I use [remark-cli][1] to reformat markdown and I get a false positive for ordered list elements because they start with 2 spaces, e.g.

[code]
This triggers the `consistency.spacing` check.

I had a very brief look at the source code, and it seems that there is no notion of markdown constructs (or attempt to parse them). Am I correct? If this is true, will it require conside

[2018-06-19 20:47] dylan-k commented on #571
https://github.com/lexicalunit/linter-just-say-no/blob/master/resources/hedges.cson

[2018-06-19 22:55] dylan-k opened #805 "Add rule on 'just'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 22:55] dylan-k opened #806 "Add rule on 'Actually'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 22:56] dylan-k opened #807 "Add rule on 'sorry'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 22:57] dylan-k opened #808 "Add rule on 'apologize'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 22:58] dylan-k opened #809 "Add rule on 'apologies'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 22:58] dylan-k opened #810 "Add rule on 'forgive'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 22:59] dylan-k opened #811 "Add rule on 'I think'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:00] dylan-k opened #812 "Add rule on 'we think'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:11] dylan-k opened #813 "Add rule on 'I'm no expert'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:11] dylan-k opened #814 "Add rule on 'we're no expert'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:12] dylan-k opened #815 "Add rule on 'yes, but'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:15] dylan-k opened #816 "Add rule on 'literally'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:16] dylan-k opened #817 "Add rule on 'very'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:16] dylan-k opened #818 "Add rule on 'kind of'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:17] dylan-k opened #819 "Add rule on 'sort of'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:18] dylan-k opened #820 "Add rule on 'does that make sense'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:19] dylan-k opened #821 "Add rule on 'try'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:19] dylan-k opened #822 "Add rule on 'trying'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:20] dylan-k opened #823 "Add rule on 'I feel'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:21] dylan-k opened #824 "Add rule on 'believe'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:22] dylan-k opened #825 "Add rule on 'just saying'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:22] dylan-k opened #826 "Add rule on 'in my opinion'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:23] dylan-k opened #827 "Add rule on 'stupid question'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:24] dylan-k opened #828 "Add rule on 'i may be wrong'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:25] dylan-k opened #829 "Add rule on 'i might be wrong'"
source: Just Not Sorry
source_url: https://github.com/defmethodinc/just-not-sorry/blob/master/src/Warnings.js

[2018-06-19 23:29] dylan-k opened #830 "Extract rules from the Just Say No plugin"
https://github.com/lexicalunit/linter-just-say-no/blob/master/resources/hedges.cson

[2018-06-19 23:32] dylan-k commented on #677
The use of "parts per million" might be a bit cheeky here. Avoid using two or more exclamations in a single text.

[2018-07-05 01:10] RyanMcCarl opened #831 "How can I add/test a new check?"
Did you have documentation on how to create/add a check? I created a simple passive voice  checker in my local fork, ran `setup.py install`, and added a line for the new checker to the source code folder’s .proselintrc, but it didn’t run. I assume the code below is how the program detects which checks to run—is that correct? Or do newly added checks need to be registered elsewhere in the code besi

[2018-07-05 08:37] RyanMcCarl commented on #831
Never mind, I figured it out. In case anyone else has the same question, this is the workflow I used:

1. Create a folder in `proselint/checks` for your new check (error you want Proselint to check for).
Example: `mkdir proselint/checks/cliches`
2. Within that folder, add an `__init__.py` file containing only a docstring.
Example:
proselint/checks/cliches/__init__.py
`"""Avoid cliches."""
`
3.  In

[2018-07-05 08:37] #831 closed

[2018-07-31 12:24] mavit opened #867 "Tests missing from pypi.org"
The [0.10.0 source tarball hosted on pypi.org](https://files.pythonhosted.org/packages/ed/84/d2adefc48e8cf4d8c385cd39d68c9ff67a714a0a95b5ee25e6c7c4448bf0/proselint-0.10.0.tar.gz) is different from the [0.10.0 source tarball hosted on github.com](https://github.com/amperser/proselint/archive/0.10.0.tar.gz), and is missing the tests.

[2018-07-31 13:05] joshmgrant commented on #867
@mavit This is correct. During a build using setup.py, the test packages are excluded (see https://github.com/amperser/proselint/blob/master/setup.py#L41). This was done to reduce the tarball size and maintain efficiency.

Would you like to have the tests included in the PyPI tarball?

[2018-07-31 13:35] mavit commented on #867
I maintain the Proselint package for Fedora.  We need the tests for two reasons:

- We run the tests at package build time to check everything is working as expected, and then [periodically as Proselint’s dependencies are updated within the distribution](https://apps.fedoraproject.org/koschei/package/proselint).
- If a project's upstream was to disappear over night, we’d want to have everything re

[2018-07-31 13:50] joshmgrant commented on #867
Thanks for this! This is helpful information, and it sounds like my (I think it was my) initial idea of excluding tests from distributions was short-sighted.

If there's no objections from @suchow I'll open a PR to add back the test packages.

[2018-08-02 04:07] suchow commented on #867
@mavit Is 0.10.0 the first time this has happened? I changed a setting in the build process that went awry and needed to upload the package to PyPI by hand. I'll try releasing 0.10.1 and see if it's fixed.

[2018-08-02 14:35] suchow commented on #867
@mavit Okay, release 0.10.1 and the PyPI uploading worked: https://pypi.org/project/proselint/. Does 0.10.1 have this issue?

[2018-08-02 19:58] viccuad commented on #867
Hello,

Maintainer of the Debian package chiming in, the PyPI 0.10.1 keeps missing `tests/*` (but not `test/illegal-chars.txt`, as it was added manually to the `MANIFEST.in`).

On our side we have the same conundrum, we would like to have the tests shipped as part of
the source distribution, as:
- they get run on build time
- they [get run when proselint's dependencies get updated within the distr

[2018-08-02 20:08] suchow commented on #867
@viccuad Thanks, is this a new issue or have we never shipped the tests? If we haven't, do you know what we need to do?

[2018-08-02 22:03] mavit commented on #867
Before 0.9.0: The tests are included in the tarballs but are installed at build time, so we [delete them as we build an RPM package](https://src.fedoraproject.org/rpms/proselint/blob/4ab876af12b65b9b040b44f4464b6905a1005099/f/proselint.spec#_54).
0.9.0: The tests are included in the [tarball](https://files.pythonhosted.org/packages/source/p/proselint/proselint-0.9.0.tar.gz) and are not installed.

[2018-08-03 03:40] suchow commented on #867
@mavit @viccuad Do you think adding `tests/*` to MANIFEST.in will do the trick?

[2018-08-03 23:41] mavit commented on #867
Running `python ./setup.py sdist` shows that it does, except we need to be a bit more careful with the wildcard, because we don't want to include any `.pyc` files.

I have raised pull request #871 for this.

[2018-08-04 03:17] suchow commented on #867
I'll release 0.10.2 with the changes from #871. Let's see if that fixes things.

[2018-08-04 04:52] suchow commented on #867
0.10.2 has been released. I believe it solves this issue.

[2018-08-04 12:01] mavit commented on #867
It does.  Thanks.

[2018-08-04 12:01] #867 closed

[2018-08-06 06:30] isomorphisms opened #873 "Kellaway"
Lucy Kellaway and _The Economist_ style guide have more suggestions for how to write better. Thanks for making this tool.

[2018-08-06 06:57] isomorphisms opened #874 "browser plugin"
I would like to do this if I have time.

If I were making a proselint browser extension I would surround bad text in `<span class="bad">` and then add CSS `.bad{}` that makes the text X% transparent. (You could change the background of the text to grey but this works on any colour site.)

As a bonus there are ways to look ahead (let’s say after a page has been loaded for 10–20 seconds) and see if

[2018-08-17 16:45] suchow opened #877 "Add Vale to list of available plugins"
https://github.com/errata-ai/vale

[2018-08-30 14:38] reagle commented on #491
I just encountered the issue that:

`"typography.symbols.curly_quotes": false,` does not work but
`"typography.symbols": false,` does -- yet is too expansive.

[2018-09-11 08:02] #794 closed

[2018-09-29 08:47] CO16326Keshav commented on #830
Hi @dylan-k , i would like to solve this issue. Could you please guide me, what actually i have to do? Do i have to make a separate file for this or create a new folder in [checks folder](https://github.com/amperser/proselint/tree/master/proselint/checks)?

[2018-09-30 18:10] CO16326Keshav commented on #830
ok @dylan-k , I will try to work on this issue

[2018-09-30 18:50] joshmgrant commented on #830
Also look at the tests/ folder for examples of how each check is tested. You can replicate some of the tests for this case.

[2018-10-01 12:21] CO16326Keshav commented on #830
ok @joshmgrant , i will take a look on that tests/ folder

[2018-10-07 09:15] CO16326Keshav commented on #830
Since there can be multiple hedges terms in input text, so i thought to convert to that text to sentences and accordingly if any sentence has one or more hedges terms, the error message will be displayed according to the number of hedges terms. Should i do this way or output all the hedges terms in input text individually instead of combining them together ?

[2018-10-07 18:18] dylan-k commented on #830
It sounds to me like the individual approach would be more likely to catch
all the hedges, right?

[2018-10-07 19:16] CO16326Keshav commented on #830
when all hedges words are printed individually, then each have its own column number in output but when i try to output multiple hedges terms in a sentence it outputs only the column number of first hedge word that it encountered in the sentence.

Multiple Hedges terms in a sentence - Output Format
![screenshot 31](https://user-images.githubusercontent.com/35761292/46585824-782cb800-ca93-11e8-97a1

[2018-10-08 16:43] CO16326Keshav commented on #805
I want to ask whether to add this rule in any of existing checks folder or create a new directory under checks folder named 'just_say_no' ?

[2018-10-09 05:58] CO16338Paras commented on #829
@dylan-k  i would like to pick up this issue, could you please guide me to how to proceed further

[2018-10-09 13:20] dylan-k commented on #829
@CO16338Paras take a look at the progress so far on the larger issue, #830 .

[2018-10-09 15:18] KVGarg commented on #830
@dylan-k which output format is looking more appropriate according to you from above pics that i have attached in mu last comment  ?

[2018-10-09 15:34] dylan-k commented on #830
I would vote for the format that says "Possible hedge word: {word}"

[2018-10-09 15:44] CO16338Paras commented on #829
Okay

[2018-10-10 14:51] CO16338Paras commented on #829
@dylan-k as issue #830  seems to be resolved, should i pick up this issue? Also, should I create separate files for each warning or include them in a single file?

[2018-10-10 15:52] dylan-k commented on #829
Yes, I agree this is a good time to pick up.
With the other issue, they were all done as [a single file](https://github.com/amperser/proselint/pull/890/commits/15ce2d841c4ac2336ff25485ba1f30ff3fb4343f#diff-46f7136dc954e5af826c63c777444f18).

[2018-10-11 18:29] CO16338Paras commented on #829
Okay so i will pick up this issue and will include all the warnings in a single file

[2018-10-13 10:02] KVGarg commented on #829
@CO16338Paras can i help you out in some manner?

[2018-10-14 15:09] sharma-Paras commented on #829
@KVGarg  Yes you can, I'll contact you if it's needed

[2018-10-15 07:33] KVGarg commented on #800
@Gigahawk I would like to work upon this issue, can i ? and i think it should be added in `checks` folder by creating a new folder named `capitalize` instead of adding directly in `tools.py` because we are checking whether there are any issues in text or not.

[2018-10-15 07:35] KVGarg commented on #829
Okay

[2018-10-15 07:40] Gigahawk commented on #800
Yea go ahead, I never really got anywhere with this.
I don't think I can assign issues but you can probably just reference this issue in your pull request.

[2018-10-15 07:51] KVGarg commented on #800
Okay @Gigahawk , I will reference this issue in PR

[2018-10-18 16:45] KVGarg commented on #777
Hi @NateEag , when you passed `ignore_case=False` as argument, you might not have changed the text due to which you got the same error again. This happened because the decorator `@memoize` memorize's the input text in cache due to which you get the same error again on passing same input text to the check. Try with different text by passing `ignore_case=False` as argument to `existence_check`.

I'm

[2018-10-19 18:18] KVGarg commented on #78
Hi @suchow ,can I work on this issue ?
and will user be warned if email is in CAPS or it is mixture of uppercase + lowercase alphabets ?

[2018-10-20 10:28] KVGarg commented on #759
Hey @suchow , what you think regarding this issue? I think adding a rule over `urls` will solve this issue because if not added then most of the `checks` will raise warning, for example - say a `url` include month or annotations or any other keyword which are provided in `checks *.py` files it will definitely raise a warning which  should be avoided.

[2018-10-21 13:08] mrandrey opened #898 "Is it possible to use HTML editor offline?"
Greetings,

I love the idea of using a web-based editor, but if my internet is off, it doesn't seem to work. Is it possible for me to setup an offline version of the HTML-based editor?

Thanks for the awesome work,
Andrey

[2018-10-21 15:18] KVGarg commented on #480
Hey @joshmgrant , if you don't mind, can I work upon this issue ?

[2018-10-22 07:31] KVGarg commented on #430
What modules have to be listed out? Can you please explain or elaborate it more ??
Do you mean by listing all folder names that are created in checks folder or all the file names under each folder or all the function names that are created under each file?

[2018-10-23 23:17] andreysamode opened #900 "Edit rule: "No hyphen is necessary...""
The "No hyphen is necessary..." rule starts one line higher than the actual error for some reason. The correct line is +1.

Screenshot to replicate in web editor:
<img width="927" alt="screen shot 2018-10-23 at 7 15 37 pm" src="https://user-images.githubusercontent.com/444565/47396294-25d8d180-d6f8-11e8-86d4-09bfc0d265a2.png">

[2018-10-26 16:47] KVGarg commented on #759
I have added a precondition in tools.py to avoid linting over urls, but haven't created a PR.
I will a create a PR, if you guys think that this is of worth.

[2018-11-20 10:47] DavidDreher opened #915 "Ubuntu package is not available"
[code]

[2018-11-22 17:12] dragGH102 opened #916 "Winerror 267 "The directory name is invalid" - Sublime Text 3 - Windows 10"
I have followed the various installation steps (install python & pip, install sublimelinter via package manager, install proselint plugin for sublimelinter via pip)

OS: Windows 10 (CLI : Powershell 5 - not using WSL as Sublime Text is installed on Windows itself)

I am getting this error whatever I write:

		SublimeLinter: #91 proselint <untitled 26> ERROR:
		=====================================

[2018-12-06 08:36] RyanMcCarl commented on #24
Was this ever implemented (or will it be)? My documents include a lot of quotations from old texts (usually legal opinions), so I see many false alarms triggered by quoted text.

[2018-12-14 20:46] jessebett opened #922 "Could/Would/Should of -> have/'ve"
I just started using proselint. Sorry if this isn't within the scope of the project or already suggested.

A common mistake due to the pronunciation of `could've` `would've` and `should've` is to write it incorrectly as `could of` `would of` and `should of`. This should be linted to return either `'ve`or `have`.

[2018-12-18 11:35] Foadsf commented on #277
one method which I found useful is to convert latex to plain text with [tex2txt](tex2txt) or markdown with [pandoc](https://pandoc.org/):

    pandoc -f latex -t markdown main.tex > main.md

and then use proselint.

[2018-12-21 08:36] shivank1234 opened #924 "Upgrade to click>=7.0"
Using latest version of click package would help in functioning of other repo's who uses proselint as a dependency.

[2019-01-04 12:17] dialex commented on #356
Exactly what @blueyed said. I expected that `proselint` would look for the config file at the root folder of my project, not my entire system! Passing the config filepath (via args) would also do the trick, but it's also impossible.
I want to run this tool on Travis, so... I don't think this is feasible 😢

[2019-01-08 23:01] mrcnski opened #926 "[Crash] "Database needs recovery""
Hello friend, and many thank you for bestowing this command line creation upon humanity.

I beseech your expert help in a capacity that, I hope, far exceeds my own abilities.

My good friend, when I hath invoketh `proselint` on any file of textual contents, the following is what I invariably witness:

[code]

What could this mean? I am at a loss, for long have I pondered, but even Google does not

[2019-01-16 18:10] jjzmajic commented on #686
Same issue on `emacs` using `prosleint` with `flycheck`. It isn't a constant 20% but it blows up some of my cores and takes them to 100% every few minutes.

[2019-02-04 15:56] enderrrrrrrrrr opened #929 "OS X"
I am able to install proselint, when i version check it i get: 0.10.2 But when i search for it in package control nothing shows up. Please and thank you.

[2019-02-11 04:33] jjzmajic commented on #686
Last thought---this was on Arch (btw), so it's cross platform.

[2019-02-15 11:25] m-cat commented on #926
After trying to reinstall it (no instructions on how to do this in the Readme, btw...) I see the following error instead:

[code]

[2019-02-16 15:08] #929 closed

[2019-03-10 07:15] andreasbaumann opened #936 "tests fail on Archlinux and Archlinux32"
shell> asp export proselint && cd proselint && makepkg -s

The full build log:

[code]

[2019-03-12 20:06] patrickt opened #939 "Questionable redundancy warning from After the Deadline"
Working on some prose, I wrote the phrase

and received the following warning:

[code]

The fragment `Though research back several decades` doesn’t seem grammatically sound.

Thanks for proselint: it’s an excellent project!

[2019-03-12 20:09] patrickt commented on #939
Thinking about this more, I think the warning would be valid if it applied to the phrase "dates back _to_”. Phrases that omit the preposition should probably not trigger the warning. I’d be happy to submit a patch if you agree that this is a bug.

[2019-03-25 13:35] christianhujer opened #945 "Support XML Input"
It would be awesome if proselint could support XML input.

As a workaround, one can convert XML to plaintext before using proselint. This has a pitfall: The positions might change. A simple tag-removal would not cut it. Instead, it would be better to replace XML markup with whitespaces. There are two more glitches around this: This may separate plural s from its noun, as in `<code>Closeable</code>

[2019-04-09 10:02] ShilohMy commented on #915
You don't having to do anything.

[2019-05-12 00:06] matthew-piziak commented on #491
`"garner.phrasal_adjectives" : true` results in `ModuleNotFoundError: No module named 'checks.garner'`. and `"garner.phrasal_adjectives" : false` works but does nothing.

Warning:
[code]
The string it's breaking on is `Apparently [[https://emacs.stackexchange.com/questions/50223/performantly-filter-against-a-custom-time-like-property][org is bad at this]`; granted that's a problem with flycheck's

[2019-05-12 17:20] matthew-piziak commented on #491
I was using an old reference. Now that I know to use http://proselint.com/checks/ I can see that the correct binding is `misc.phrasal_adjectives`.

[2019-05-15 23:50] matthew-piziak opened #961 ""its" vs "it's""
Is grammar checking in scope for `proselint`, or is it restricted to style?

[2019-06-08 12:05] dylan-k opened #968 "42 Pull Requests Dating Back a Few Years"
Is this an abandoned project, or is there anything to be done to more quickly review the community input?

[2019-06-08 12:10] dylan-k commented on #915
I was able to install using Ubuntu today, so it seems this issue may be resolved.

[2019-06-12 15:03] wilad opened #971 "False positive hyperbole.misc in markdown code quotes."
When linting markdown files containing code the hyperbole.misc rule can be triggered. I'm particularly noticing this when linting files containing quoted `.csv` files which use `???` as the marker for an unknown value.

As an example:

[code]

[2019-06-18 16:30] neonfuzz commented on #926
I ran into the same error and did a handful of things; one of them worked (though I'm not sure which).

 - Uninstalled proselint
 - I removed all of the proselint.vim files from my `~/.vim/bundle/ale` directory; I doubt this was the issue, but I'm including it for completeness.
 - I removed the directory `~/.cache/proselint` (Strong hunch this was the culprit)
 - Re-installed proselint (using `pip

[2019-06-18 16:41] m-cat commented on #926
Thanks! I'm sure that will be helpful to some, but I decided not to continue using an abandoned project. Also, I noticed some weird stuff in the readme:

Like, wtf? I just want a non-political grammar checker that doesn't blast me with radical leftist bullshit!

[2019-06-30 19:00] Andrew-Suber commented on #247
Reading this article, it is clear that there can be specific individual slurs, but many of the offenses are subtle and not considered universally offensive. For instance, 'burn victim' is not considered offensive by all.

Can we agree to perhaps flag the most offensive, recognizable slurs and shelve the rest of the issues related to Ableism?

[2019-07-02 08:58] Andrew-Suber commented on #113
I would argue that this article has very compelling advice (Rule 1: Listen to the Voice Inside Your Head), but that the advice cannot be elegantly codified into a computer program given the current state of artificial intelligence.

How is the program supposed to ascertain whether or not you are being genuine to your internal monologue? A gifted writing teacher would have a problem doing that.

Fo

[2019-08-13 17:05] jkbest2 opened #987 "Add to annotation list"
Thanks for a great piece of software, it's definitely improving my writing.

I've found the annotations list (e.g. `TODO`) helpful in keeping track of things I need to return to in a writing project. Another annotation that I use frequently is `CITE` (or `REF`), where I need to find a relevant reference.

Would you be open to a PR that adds one or both of these to [the list of annotations ](    ht

[2019-08-17 21:28] CJ-Wright commented on #601
xref: https://github.com/conda-forge/staged-recipes/pull/9175 once accepted I'll be happy to add people as maintainers (it's faster this way)

[2019-08-17 22:14] CJ-Wright opened #990 "Search and replace option"
Would it make sense to add a search and replace flag to this? For example, remove words which fall under redundancy or "very".

[2019-09-26 03:17] alxiong opened #997 "[HOWTO] specify lint rules for specific (regex) files or folders"
It seems configurations for proselint are centralized to different canonical files (namely `$XDG_CONFIG_HOME/proselint/config`, `~/.config/proselint/config` and `~/.proselintrc`) instead of a per project config basis.

So may I ask how to specify project/folder/files-specific rules? Maybe including some examples in the README.md would be nice?

Thanks

[2019-11-07 23:39] polyzen commented on #936
It was my mistake for enabling the tests without properly trying them out. This has been resolved:
https://git.archlinux.org/svntogit/community.git/commit/trunk?h=packages/proselint&id=379718a230c57b754519af1c9defbe6e47952b6b

[2020-02-19 21:37] gvoysey commented on #393
Just ran into this.  How do i shut this warning up?

[2020-02-24 04:15] cpitclaudel opened #1048 "Issues with extens and positions reported by proselint --json"
Consider the following input:

[code]

These are the errors that proselint reports:

[code]

Are the following two observations bugs, or am I misunderstanding something?

* The first message starts at position 2 instead of position 1 (this doesn't seem to be specific to JSON output)
* The first and third message has `extent` and `end` properties suggesting that they cover an extra space.

Thanks!

[2020-03-09 09:18] kurgol opened #1052 "Installation Warning MacOS Catalina (10.15.3)"
When I follow the installation instructions to install, after the step [Plugin Installation](https://github.com/amperser/proselint/tree/master/plugins/sublime/SublimeLinter-contrib-proselint#plugin-installation):

I see the following error message:

[code]

[2020-03-10 03:11] nzt commented on #277
You can use proselint in latex with [textlint](https://textlint.github.io) + [textlint-rule-proselint](https://github.com/textlint-rule/textlint-rule-proselint) + [textlint-plugin-latex2e](https://github.com/textlint/textlint-plugin-latex2e)

[2020-05-21 13:48] tbm commented on #968
@suchow can you comment on the status and future of this project?

[2020-06-10 01:45] suchow commented on #968
Interesting question.

It's abandonware in the sense that nobody is actively looking after it right now. But we haven't given up hope, just turned our attention elsewhere.

I'm not sure what can be done to more quickly review community input. I think any help in maintaining and contributing to the project would be appreciated.

Thoughts, @mpacer?

[2020-06-12 12:24] stuartlangridge opened #1082 "[Sublime Text] proselint disabled. 'selector' is mandatory in 'cls.defaults'."
On installing SublimeLinter-contrib-proselint into Sublime Text 3.2.2 with Package Control, I get the following errors:

[code]

[2020-06-27 13:37] emiljoha opened #1084 "No such file or directory: 'path/to/venv/lib/python3.8/site-packages/corpora/0.1.0'"
Using a new python3 virtual enviroment.
[code]
Installing proselint with pip.
[code]
Then running proselint -t causes this error.
[code]

OS: openSUSE Tumbleweed snapshot 20200625-0

[2020-06-30 16:57] rpdelaney opened #1086 "typograhpy.symbols.curly_quotes cannot be disabled in proselint/config"
[code]

[2020-07-15 12:31] Morishiri opened #1090 "CORS issue on demo page"
When accessing http://proselint.com/write/ there is an error related to CORS:

[code]

I think it would be nice to fix it so people can actually try it out in the browser.

[2020-07-16 15:54] benknoble commented on #1086
I have this issue too; I think you can disable *all* of `typography.symbols`, but it appears we can't get any more fine-grained.

I would suggest changing this issue or opening a new one that allows us to target individual checks and not just categories.

[2020-07-18 04:34] rpdelaney commented on #1086
Unfortunately, for my use case, not having a level of control over this error is a terminal deal breaker and I'm no longer using `proselint`. Therefore I can't check which other settings are also not working. If you (or anyone) opens an issue and references this one I'll be happy to close it.

[2020-07-21 16:11] benknoble opened #1091 "Allow disabling individual checks"
Inspired by #1086 : almost all linters allow disabling individual checks (not just categories, as is the case today). Indeed, as someone who writes markdown in vim in a terminal, I really don't like or need "curly quotes"—ellipses, on the other hand, make perfect sense.

Having the ability to disable individual checks would be a great feature, and close both issues.

[2020-07-21 18:40] #1086 closed

[2020-08-16 17:48] mcepl opened #1097 "Remove dependency on nose"
I am a maintainer of Python packages in openSUSE, and I am on my crusade of eliminating nose1 from our distribution. When I look at its repository on https://github.com/nose-devs/nose, the last release 1.3.7 was on 2 Jun 2015, and even the last commit on the master branch was on 4 Mar 2016. Moreover, it seems nose won’t be running altogether with the upcoming releases of Python (3.9 or 3.10).

[Th

[2020-10-28 07:07] Yoshanuikabundi commented on #1082
See my pull request #1107. Think proselint might be a bit dead, so if there's no response soon I'll split it out into its own plugin.

[2020-11-05 13:24] PandaWhoCodes commented on #1090
seeing the same issue.
I think the heroku server hosting the API - http://api.proselint.com/ is not up or deleted

[2020-11-14 14:04] fphammerle commented on #708
example:
[code]
reports

However, the use of `×` would introduce a syntax error. `x` is fine here.

[2020-11-20 05:00] yegor256 opened #1112 ".proselintrc is not picked up"
I create `.proselintrc` and place it next to my article (in the same directory). When I run `proselint`, the configuration file is not taken into account. Would be great to enable this: if the config file is in the current directory, it's being read.

[2020-12-05 15:20] casperl commented on #308
Perusing the source code, I can spot the issue with why other language support will be a problem.  There are sequence of files under checks that each contains certain lexical checks and rules.  It is not merely a question of translating but one of starting from scratch for each language.  Such content requires person(s) with a great deal of expertise in any given language.

That does not mean that

[2021-01-16 20:08] andreysamode opened #1121 ""at least possible" triggers uncomparables "least possible" false positive"
"least possible" is caught as wrong in "But is it at least possible?" via the "uncomparables" check.
Is that a bug?
Thanks.

[2021-02-05 13:21] alexdiment opened #1126 ""This sentence is very unique" from README does not trigger the uncomparables check unless appended with something extra"
Proselint ver 0.10.2 installed through pip into a conda env on macos 10.15.7 and Ubuntu 18.04.

Tried running the example snippet in the README `suggestions = proselint.tools.lint("This sentence is very unique")`. Instead of the expected two matches (weasel_words and uncomparables) got only weasel_words. Haven't turned off any checks. Oddly, when I add a period to the sentence, the check works. Or

[2021-02-05 13:34] alexdiment commented on #1126
Issue present with both 3.6 and 2.7 python.

[2021-02-14 05:20] OriolAbril opened #1127 "Should "certain" be in uncomparables?"
Hi, thanks for the great library. I use proselint whenever possible in CI and via the vim plugin ale, but I nearly always end up disabling the uncomparables check due to "certain" being there. I am an statistician and generally work on uncertainty quantification, where things like "more certain" are both common and _informative_. For example, we can find ourselves in situations where one algorithm

[2021-04-20 21:05] Nytelife26 commented on #968
I am a linguist reading this almost a year later. I found proselint today and it intrigues me greatly. Are you still looking for a maintainer? If so, I would be more than happy to pick up where amperser left off.

[2021-04-21 01:46] suchow commented on #968
@Nytelife26 Yes. I will take any help you are willing to give.

There's quite a lot of low-hanging fruit available for picking, including (1) getting the Travis build to pass, (2) upgrading dependencies, (3) fixing the obvious bugs that the community has flagged in the issue tracker. Then there are more substantive changes like making proselint Markdown-aware, adding new checks, improving existing

[2021-04-22 12:43] Nytelife26 commented on #968
@suchow I left you an email, currently awaiting a response.

[2021-04-22 22:44] Nytelife26 commented on #1097
In the latest PR, #1134, this will be resolved anyway. Thank you for the contribution, though - rest assured, once proselint maintenance resumes, things will speed up around here again.

[2021-04-24 22:34] Nytelife26 opened #1136 "refactor: relocate corpus option"
## Reference

In response to [a conversation](https://github.com/amperser/proselint/pull/1134#discussion_r619715265_) on #1134.

## Purpose

The corpus option is currently broken and creates errors in the end software. This can be confusing for new users, and as there is no way to publicly obtain the corpus, it should be made a development option, either as an external tool or for tests only.

[2021-05-09 09:12] carlsmedstad opened #1140 "Is proselint still maintained?"
Hey :wave:

Last commit was three years ago. Is this project still maintained?

Is there anything one could do to help keep this project alive?

[2021-05-11 06:57] carlsmedstad commented on #1140
That's great to hear. Yes, I would!

[2021-05-11 07:04] Nytelife26 commented on #1140
Side note: THe PR is #1134. Currently we're working on a merge for bringing the CI up to date and switching to python-poetry.

Any help you're willing to give after this would be appreciated. I'm sure @suchow would be happy to assign things, or we can co-ordinate the changes we know need to be made so far between us (the various issues, PRs, et cetera) - whatever your preferred method would be :)

[2021-05-13 00:30] suchow commented on #1140
Oops, @Nytelife26 is right, I cited the wrong PR.

@carlsmedstad we'll gratefully accept any help you're willing to offer.

[2021-05-16 12:16] Nytelife26 commented on #1097
Resolved in latest.

[2021-05-16 12:16] #1097 closed

[2021-05-16 12:24] Nytelife26 commented on #926
It seems that this has been long-resolved, so it will be closed. Although, as an update, proselint is now re-entering active maintenance.

I'd appreciate it if someone mentioned me here if anyone still suffers from this issue, and I can re-open it and investigate properly.

Although...

This isn't a political statement, nor "bullshit", as you kindly term it. Instead, proselint is, well, a linter f

[2021-05-16 12:26] Nytelife26 commented on #1140
#1134 has been merged. I believe my next step is, following @suchow's lint fixes and fixing the PR, to triage our issues and pull requests so we can sort them properly and begin to work through community input.

[2021-05-16 12:30] Nytelife26 commented on #968
As this is a duplicate issue, it seems appropriate to aggregate future discussion into the most active and most recent replacement - #1140.

[2021-05-16 12:30] #968 closed

[2021-05-16 12:32] Nytelife26 commented on #915
Things like this are the responsibility of those that set up the packages for such distributions. It would be wiser to raise the issue with the package maintainers listed for `python3-proselint` in the Ubuntu repository. Although, we are open to having a closer relationship with those that package proselint for various systems, so if they wish to step forward in order to tie things together better

[2021-05-16 12:32] #915 closed

[2021-05-16 12:33] Nytelife26 commented on #961
Unfortunately, it is restricted to stylistic (and similar) suggestions. Grammar checking is out of our scope. For more information, there is a [dedicated page on our website](http://proselint.com/approach/).

[2021-05-16 12:34] #961 closed

[2021-05-16 12:35] Nytelife26 commented on #491
Can anyone confirm if this was resolved? Nothing seems to reference it.

[2021-05-16 12:37] Nytelife26 commented on #48
This feels somewhat out of scope, looking at it from years in the future. It would be nigh on impossible to detect arbitrary dialects. I believe we should instead focus on maintaining standard prose, or perhaps introducing plugins for other dialects and the like.

[2021-05-16 12:42] Nytelife26 opened #1148 "ci: migrate pyup -> dependabot"
Dependabot is now a GitHub native feature that supports poetry and will not open hundreds of individual pull requests (since it can aggregate changes). I believe it would be beneficial to cease usage of the third party tool and switch to Dependabot, but I am open to thoughts on this.

CC: @suchow

[2021-05-17 01:17] suchow opened #1151 "Clear cache between pytest runs"
When trying to fix an issue with the uncomparables check, @Nytelife26 removed the memoization on that function, presumably  because the test suite was not passing even though the function was fixed. A better solution is for us to figure out how to get pytest to clear the cache/shelf between runs.

Here's the relevant memoization code:

https://github.com/amperser/proselint/blob/8a1cdc1492bf6421963

[2021-05-17 09:46] Nytelife26 commented on #1151
This seems to be a culmination of various issues. I suspect I'll need to
take a further look through how the shelving system and the cache
dropping system works. I found an error not long ago with the
misplacement of an unbound variable in the memoize function so perhaps
there's more to this than it seems.

[2021-05-17 17:46] suchow opened #1153 "Coveralls causing merge of passing commits to fail"
See in particular merge commit 9a94cbed8a245e407855684ade99caf4b72262b4, which fails the Coveralls check despite the fact that the final commit (https://github.com/amperser/proselint/pull/1152/commits/0745774240f08ad1f4a67e241960b4f860c40c0a) of the PR that it is merging (https://github.com/amperser/proselint/pull/1152) passes. I'm not sure whether the desired behavior is both failing or both pass

[2021-05-17 18:02] suchow opened #1154 "Pull usable checks from Vale"
Vale is a linter for prose that draws from several tools, including proselint. All their checks are implemented in YAML files and aren't too different in style from our check definitions. Many of the available checks have a different scope and threshold for false alarms, but some may be usable.

https://github.com/topics/vale-linter-style
https://github.com/errata-ai/styles

[2021-05-18 21:07] Nytelife26 opened #1155 "refactor: clean up checks"
It has come to my attention that a lot of checks within proselint are dubious at best, or misguided. For instance:

- "Christiana" being considered archaic - it is the name of a place. and of a riot, too.
- The filter that quite literally just checks for text matching "the n-word" - what use is telling people not to use a way to refer to it, if we aren't telling people the harm done by the word it

[2021-05-19 01:39] #1148 closed

[2021-05-19 02:27] suchow commented on #1155
Good ideas, and I share many of your concerns. However, there are several distinct issues that you've bundled here in #1155 and they should be broken down into smaller issues that can be discussed and completed independently. Here are some possible standalone issues:
- Refactoring the checks so that they are organized either by the source of the advice (e.g., David Foster Wallace) OR by the domain

[2021-05-19 02:35] suchow commented on #1155
Also, note that `cursing.nfl` defaults to off, probably for exactly the reason that it produces far too many false alarms in its current state to be useful:

https://github.com/amperser/proselint/blob/372ebf0253ddbf3c404e2f44bf1519fd6510b6ce/proselint/.proselintrc#L13

As a more general point, we've been wary of any checks that attempt to categorically ban words. The only time that's seemed like a

[2021-05-19 13:52] Nytelife26 commented on #1153
The issue here seems to be that coveralls measures a coverage decrease, and thus fails. There should be a threshold, as we can all agree reasonably that a -0.003% decrease should *not* cause a CI failure.

I'll set a failure threshold up now if I have access to the settings, and from there we can monitor its future behaviour.

[2021-05-19 13:52] Nytelife26 commented on #1153
UPDATE: I do not have access to the Coveralls settings for this repository. Can you either add me or set a failure threshold, @suchow?

[2021-05-19 14:16] suchow commented on #1153
@Nytelife26 I've changed it to 1.0%. It looks like this variable can set in a `coveralls.yml` file (see https://github.com/lemurheavy/coveralls-public/issues/1455#issuecomment-638496827).

However, I don't see how this solves the issue. The problem is that whatever coverage Coveralls is computing on the last commit of a PR differs from what it computes on the commit that merges that PR, which does

[2021-05-19 14:18] suchow commented on #1153
Unless it was computing the same minor decrease in coverage for both, but fails the CI run only when it's on branch master?

[2021-05-19 15:14] Nytelife26 commented on #1153
I believe this is a problem with how we're using Coveralls. It only *builds* on the master branch - PRs only upload their coverage, but the action doesn't run on them it seems. I'll investigate further into using `coverage run` to generate an lcov but using the actual GitHub Coveralls action for API interactions.

[2021-05-19 15:25] Nytelife26 commented on #1155
Strong suggestion, actually. Ultimately I just wanted to put this down as an RFC to get people's thoughts prior to doing any real work.

I believe so, as that's what we saw with the split between `dfw.uncomparables` (which didn't exist) and `uncomparables.misc`. I'll check through them if a cleanup like this does occur.

That would definitely be the right thing to do going forward I think. I fores

[2021-05-19 16:45] suchow commented on #1155
@Nytelife26 Thanks for the response, we're on the same page on every point :)

[2021-05-20 00:55] #1153 closed

[2021-05-23 10:52] carlsmedstad commented on #532
This could be closed. @Nytelife26 @suchow

[2021-05-23 10:52] carlsmedstad commented on #924
This could be closed. @Nytelife26 @suchow

[2021-05-23 11:13] #532 closed

[2021-05-23 11:13] #924 closed

[2021-05-23 11:14] Nytelife26 commented on #924
@carlsmedstad I greatly appreciate your help triaging these :)

[2021-05-23 11:20] carlsmedstad commented on #924
@Nytelife26 You're welcome! Will continue to drop by when I have time a see where I can be of use :)

[2021-05-23 17:06] suchow commented on #924
@carlsmedstad thank you!

[2021-05-24 22:43] #356 closed

[2021-05-25 14:48] benknoble commented on #1091
@Nytelife26 this needs re-opened (for some reason I cannot do so?). It has not been solved by the PR, which appears to allow me to say where the config file is.

What I want to do is allow a subset of typography.symbols, but not all of them. For example: I don't use curly quotes, but I do use ellipsis… and I want to configure proselint to match this style. I cannot do that with just the category-l

[2021-05-29 13:30] dialex commented on #341
I know it's been more than 4 years since this post, but I still have false positives with the curly quotes. I even tried disabling it, but proselint ignored my config file. This is my first time using it 😞

In this screenshot you see the error, the original file with "proper" quotes, that weird env var, and my `config` (proselint ignore) file.

<img width="1162" alt="Screenshot 2021-05-29 at 14 27

[2021-05-29 13:31] dialex commented on #393
I tried to disable it using proselint's ignore file. Did not work. In this screenshot you see the error, the original file with "proper" quotes, that weird env var, and my `config` (proselint ignore) file.

<img width="1162" alt="Screenshot 2021-05-29 at 14 27 18" src="https://user-images.githubusercontent.com/2140450/120072168-4aed0800-c08a-11eb-8978-0d4f033ade26.png">

[2021-05-29 14:29] Nytelife26 commented on #393
This will be fixed in a future release, fortunately. We're working on our configuration system currently.
I'm not sure when our release cycles will begin again, but I'll keep you all informed. I apologise for the inconvenience and thank you greatly for sticking with proselint, even after the three years with no maintenance.

[2021-05-29 14:33] Nytelife26 commented on #1121
Thanks for raising this. Yes, that is a bug - asking if something is *at least* possible is perfectly valid. I'll triage this for you and we'll work on it.

[2021-05-29 14:36] Nytelife26 commented on #1151
I believe the cache system may need a redesign, or at the very least the package *should* clear the cache upon installation to avoid issues persisting between versions.

[2021-05-29 14:56] Nytelife26 commented on #665
It is a redundancy, though. Cash and money are the same. Cash is not a specific variant of money, unless you take the definition to mean tangible currency - in which case, you would simply use the term "cash".

[2021-05-29 14:56] #665 closed

[2021-05-29 15:18] joshmgrant commented on #1151
If you need help with this task, I can pick it up or help. I wrote most of the original pytest tests.

[2021-05-30 12:32] Nytelife26 commented on #1151
I'd just like to say I greatly appreciate your volunteering and it's
awesome to see some of the original engineers still hanging around. You
can if you'd like to, any contributions are appreciated :)

[2021-05-30 19:20] Nytelife26 opened #1171 "Malapropisms does not check malapropisms"
A malapropism is defined as a writer accidentally misusing a word in place of another due to similar pronunciation (for example, "the pineapple of beauty" instead of "the pinnacle of beauty"). At present, the malapropisms check actually deals with illogical phrases.

[2021-06-07 00:27] Nytelife26 commented on #702
This was resolved in #1081.

[2021-06-07 00:27] #702 closed

[2021-06-07 14:16] joshmgrant commented on #1151
Just so I have the right context: was the issue with cache interfering with tests on local developer runs (eg on a laptop when someone is developing) or on GitHub Actions or both? I can add more logic if it's the latter case.

[2021-06-11 11:09] Nytelife26 commented on #1151
GitHub Actions are fine since they are run in an individual environment each time, @joshmgrant. The issue lies with local environments on development machines since they do not clear the cache, and the user has to clear it manually.

The best solution to this is to reset the cache at the path on `~/.cache/proselint` in the installation script for proselint and also for test runs. Perhaps the test

[2021-06-24 05:25] vEnhance commented on #926
Since you asked --- I'm still getting this issue, but can't reproduce it. Basically, seems like once every 3-5 weeks, I'll run into this error. Deleting `~/.cache/proselint/` always fixes it, so it's only a minor annoyance. Not sure it's worth your time to deal with, but figured to mention it anyways. (I don't have a full traceback right now, sadly.)

I'm using Arch Linux and Vim, have proselint b

[2021-06-24 10:40] Nytelife26 commented on #926
That's weird. We will have to determine an exact cause and way to force reproduction of the issue before it can be triaged successfully, but thank you for informing me someone is still having to deal with it. I'll look into it.

Unrelated, but I'll commend your choice of environment. I'm using the same setup, actually.

[2021-06-24 10:43] Nytelife26 commented on #926
Having looked around online, it seems that the cause of issues like this is that the cache is unable to write properly once it reaches a certain size, and thus keys fail to index and the database gets corrupted. That also aligns with @vEnhance's report that it occurs every 3-5 weeks, since the database will grow over time and perhaps that is when it grows too large under their circumstances.

I'll

[2021-07-04 15:34] Nytelife26 commented on #926
It seems that the best solution would be to hard wipe the cache in a similar fashion to the `--debug` CLI flag if memoization fails. That, or we could use heatmap-based caching, where only inputs to each function that are used frequently are stored.

[2021-07-04 15:38] Nytelife26 commented on #1151
@joshmgrant was able to coordinate a solution by bypassing the cache altogether in test runs. This will be resolved soon.

[2021-07-04 18:09] #98 closed

[2021-07-04 18:09] #745 closed

[2021-07-04 18:10] #1112 closed

[2021-07-05 14:22] #1151 closed

[2021-07-06 00:03] suchow commented on #926
For the folks seeing this issue, how often do you have Proselint running on your text? At one extreme, you might be running it manually once. At the other, you might have it running after every keystroke. The cache size is determined by how often Proselint sees modified versions of text — each one ends up in the cache. I wonder if this is happening to folks who run it quite often on new text?

[2021-07-06 00:26] suchow opened #1189 "Fix PyPI description formatting"
1. Checkmarks appearing as markup
<img width="814" alt="Screen Shot 2021-07-05 at 8 22 43 PM" src="https://user-images.githubusercontent.com/613981/124525863-d9158600-ddce-11eb-9564-9092b1420320.png">

2. Too much space in sample JSON, consider going back to 2 spaces per indentation level in these snippets
<img width="824" alt="Screen Shot 2021-07-05 at 8 24 50 PM" src="https://user-images.githubu

[2021-07-06 00:54] suchow opened #1190 "False alarm on "for free" cliche"
[code]

https://github.com/ARTS-Laboratory/Open_Vibrations/blob/8ed33663e05c2d2679cd08dd534f6beba71bfc44/1_Fundamentals_of_Vibrations/Chapter_1_fundamentals_of_vibrations.tex#L335

- For free speech, the issue is more complex.
- For free cheese, call 1 (800) CHEEZEY
- For free men will always be…

[2021-07-06 00:59] suchow opened #1191 "False alarm on lexical illusions"
Test document:

[code]

Output:

[code]

[issue.md](https://github.com/amperser/proselint/files/6766624/issue.md)

[2021-07-06 01:09] suchow commented on #1191
Here are a bunch of examples:

- `The theory` (the the)
- `the practitioner's side` (s s)
- `an angle` (an an)
- `Applying Newton's second law` (s s)
- `an analytical solution` (an an)

[2021-07-06 07:52] Nytelife26 commented on #22
Already implemented all these years later :)

[2021-07-06 07:52] #22 closed

[2021-07-06 09:26] mavit opened #1193 "Tests missing from pypi.org"
The [0.11 source tarballs hosted on pypi.org](https://files.pythonhosted.org/packages/ea/06/d5d7832b4eb44a79da7d90fb1d7b053b9e329a43f8ee4ea5700018799607/proselint-0.11.2.tar.gz) are different from the [0.11 source tarballs hosted on github.com](https://github.com/amperser/proselint/archive/refs/tags/0.11.2.tar.gz
), and are missing the tests.

See #867 for a discussion of why the tests are wanted

[2021-07-06 09:53] mavit opened #1194 "Config file .proselintrc isn't installed"
In version 0.10.2, `setup.py` contains:

[code]

In version 0.11.2, this has become:

[code]

The wildcard `*` appears not to match files starting with `.`, meaning that `.proselintrc` doesn’t get installed.

[2021-07-06 13:19] mavit opened #1197 "RELEASE.md is outdated"
`RELEASE.md` refers to the `master` branch, which was renamed `main`.  It doesn't mention Poetry, which I believe is now part of the release process.

[2021-07-06 21:27] #1191 closed

[2021-07-06 21:28] #1193 closed

[2021-07-06 21:28] #1194 closed

[2021-07-06 21:31] #1189 closed

[2021-07-07 18:28] vEnhance commented on #926
With ALE it's not quite every keystroke but it's indeed really often (probably more than once a minute). So that seems to line up with what you suggested.

[2021-07-07 22:36] Nytelife26 commented on #926
That makes a lot of sense, honestly. Next time this happens, can you
report back and do the following so we can test?

1. Zip and upload the cache (entries are hashed so it will not reveal
your data, we just need to know what size this happens at and verify it)
2. Provide us with logs of the error

Many thanks.

[2021-07-10 13:12] carlsmedstad opened #1200 "Problems packaging .proselintrc"
Hey :wave:

I'm running into issues packaging this for Arch due to the system config file `.proselintrc`. Since the project migrated from `setuptools` to `poetry` I use [dephell](https://github.com/dephell/dephell) to convert it back to `setuptools` during installtion, as is recommended  by Arch community. It does seem like this conversion does not produce the correct `package_data` in `setup.py`

[2021-07-10 14:02] #1197 closed

[2021-07-10 14:19] Nytelife26 commented on #1200
It is not necessary to use `dephell` to convert to `setup.py` format. Using `poetry build` will output a tarball and wheel - and the tar can be extracted which contains a `setup.py` already.

In any case, though, I'm not sure I like the idea of a hardcoded default configuration. Let me know if the release we're going to put out (0.11.3) fixes this, and if not, I'll look into it more.

[2021-07-10 14:46] carlsmedstad commented on #1200
I think Arch has landed on using `dephell` due to not wanting to have a build dependency on `poetry`, since `setuptools` is used for practically all Arch Python packages. Additionally, the source package on PyPI which contains the generated `setup.py` does not contain the tests. On the other hand, `dephell` is no longer maintained, so I'm a bit conflicted on how to package `poetry` based projects

[2021-07-10 16:30] Nytelife26 commented on #1200
If there are many of them, I'd suggest using `poetry`. If not, I'm not entirely sure - hasn't there been mention of a well maintained `dephell` fork? I thought I heard about one a while ago when I was looking through AUR packages.

You raise a good point. It's actually not at all like the default system configuration file is in an accessible standard place, either. I'll discuss it with @suchow lat

[2021-07-10 16:34] Nytelife26 commented on #1200
I can confirm everything is bundled correctly from PyPI and using `pip`, so hopefully it'll work in your packaging too.

[2021-07-10 16:48] carlsmedstad commented on #1200
Unfortunately no changes to my situation. I've temporarily resolved it by explicitly installing the file, so no rush:

[code]

By this you mean embedding the defaults in the code, right? Looked a bit at the code, and my suggestion would be to make a class for this to avoid the dynamism and potential bugs from passing around a dict. The class (or a static instance of it) would also be a natural pla

[2021-07-11 10:36] Nytelife26 commented on #1200
Interesting. How are you building proselint and installing it for the binary, may I ask? I have only tested this using the wheel - I'm not sure if it also works for the tarball.

Indeed I do.

That's what I was thinking, too. Something similar to how configuration is typically handled in Rust, wherein a structure is made and has default values and then configuration files are merged in which overr

[2021-07-11 10:37] Nytelife26 opened #1201 "RFC: Type checking in CI and development"
I use `pyright` locally as it is much more complete and flexible than `mypy` - I hadn't thought much about including it in CI, as Python tends to not be type-checked much if at all (given its nature as a dynamically typed language) and many people are not used to it, but I can open an RFC issue for that.

_Originally posted by @Nytelife26 in [this comment](https://github.com/amperser/proselint/iss

[2021-07-11 10:49] carlsmedstad commented on #1201
My input on this:

My feeling is that a lot of Python projects are moving to partly or fully typed code-bases and that this is the future of Python. While it might be new to some developers, it makes the code some much more self-documenting that I think it is a net-positive in terms of how approachable the project is.

Where I work we use exclusively fully-typed Python, which is achieved by runnin

[2021-07-11 10:57] carlsmedstad commented on #1200
You can read the `PKGBUILD` here: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=proselint

Great RFC, let's have that discussion there and ignore that in this issue.

Would you like to work on this? If so could you assign yourself to the issue? If not, I'd happily do it :)

[2021-07-11 12:14] Nytelife26 commented on #777
This will be fixed by the next release.

[2021-07-11 12:22] Nytelife26 commented on #104
What would this look like? I'd assume the check is to ward people away from rewriting things too many times?

[2021-07-11 12:45] Nytelife26 commented on #1200
Unfortunately `pyproject.toml` manifests utterly refuse to bundle dotfiles. Therefore, your solution is the only one.

Furthermore, I may open an RFC to change `.proselintrc` to `.proselintrc.json` so it has the standard file extension.

[2021-07-11 12:50] Nytelife26 commented on #1201
You have a good point. In addition, doing this will let more people learn about type hinting. Even TypeScript as the evolutionary stage of JavaScript is showing a move from dynamically typed languages in favour of ones that allow strong typing.

I believe `pyright` would be the better tool to use, as it is significantly faster than `mypy` and more featured. That leads me to another drawback of typ

[2021-07-11 14:53] ankita240796 opened #1202 "Implement a feature to enable user to run custom checks"
Implement a feature via which a user can specify path to a custom checks folder and run them.

[2021-07-11 14:58] ankita240796 commented on #1202
@Nytelife26 these are the design ideas I have come up with. Want to verify before proceeding:

**Option 1**
- User can provide a path to a file that has custom checks. These checks are self-sufficient and do not depend on proselint tools. The file should contain a `check` method which will be run on input files.

**Option 2**
- User provides a path to a custom folder that contains checks implement

[2021-07-11 16:22] ankita240796 commented on #1202
I can share a detailed design doc once we confirm the approach to take.

[2021-07-11 22:56] mavit commented on #1200
The tests are back since #1195.

[2021-07-11 23:03] mavit commented on #1200
Removing the need for a default `.proselintrc` sounds like a longer-term thing, so in the short term can I propose again that we rename it to `proselintrc` as in b6d8eb6e98398d0b5e6ce965ad95b4efd7f06889?

[2021-07-12 01:11] Nytelife26 commented on #1202
We had quite a lengthy discussion about this already.

In the end, @suchow and I came up with the idea to:

- Host a directory of official extension checks that, while not universally applicable, may be useful to some and are maintained to a high standard under our ethos so people can download them if they so wish
- Add a CLI argument to pass a local checks folder. Copying the local folder over wo

[2021-07-12 01:15] Nytelife26 commented on #1200
Making any changes to its location or name would require approximately the same amount of effort. For that reason, I suggest we make this atomic and avoid doing it except for when absolutely necessary. Therefore, unless there are objections, I'll likely be removing the need for a default in the next version (alongside the migration from `.proselintrc` to `.proselintrc.json`)

[2021-07-12 07:47] ankita240796 commented on #1202
To confirm, the scope of this issue would be to fix the second part? Further, this might help as well: updating the readme to encourage people to submit their checks in the main repo: including instructions on creating a new check and explaining the significance of the test before submitting it to the main repo.

[2021-07-12 07:54] ankita240796 commented on #1202
What about the config in this case? Should we expect the user to provide an updated config where all custom checks are also listed or should it be assumed that all custom checks are to be run even if not mentioned in config?

I am in favour of an updated config - just to be consistent with how the existing checks are run.

[2021-07-12 15:46] carlsmedstad commented on #1200
@Nytelife26 Sounds good, I can review your PR about the removal if you'd like.

[2021-07-12 15:48] carlsmedstad commented on #936
Can you close this @Nytelife26? Old & fixed issue.

[2021-07-18 14:33] Nytelife26 commented on #936
That I can. Thanks for triage assistance, @carlsmedstad

[2021-07-18 14:33] #936 closed

[2021-07-18 14:37] Nytelife26 commented on #1202
Configuration should never make erroneous assumptions - if they want to enable these additional checks every time, they must be specified in config. Else, we can only rely on CLI args for individual sessions.

[2021-08-01 00:21] bluebear94 commented on #898
That would require running Python in the browser, so probably not.

[2021-08-02 04:14] robertwenner commented on #542
This code also triggers the problem:
[code]

proselint complains about the `dir/` with the trailing slash; without that, the warning does not happen.

[2021-08-02 13:09] Nytelife26 commented on #542
This could be solved with a plugins system, potentially.

[2021-08-02 13:12] Nytelife26 commented on #1200
Okay, so here are the solutions so far:

- [ ] Build a default config into Proselint (accomplished)
- [ ] Refactor `.proselintrc`s to use `.proselintrc.json` (accomplished)
- [ ] Add CLI flag to dump default config
- [ ] Refactor `.proselintrc.json` format to use `include` and `exclude` directives

[2021-08-12 16:03] sobjornstad commented on #605
I don't think I've ever tried to start a paragraph with a “but” (though I have no opinion on whether it should be considered wrong: sentences are fine, why not paragraphs?). But (haha) when using [semantic linebreaks](https://sembr.org) or indeed any kind of hard line breaks in your text, this rule yields false positives all over the place...it seems to be checking the beginning of *lines* instead

[2021-08-20 23:56] Nytelife26 commented on #1200
This should be fixed in the next release. Thank you all.

I'll reopen this for now so we can report back once the next release has been made.

[2021-08-21 02:58] Nytelife26 commented on #1200
@carlsmedstad Does this issue persist in 0.12.0?

[2021-08-21 13:58] carlsmedstad commented on #1200
It does not. Thank you for addressing it!

[2021-08-21 13:58] #1200 closed

[2021-08-21 15:32] #777 closed

[2021-08-21 15:33] Nytelife26 commented on #1201
@suchow Thoughts on this?

[2021-08-22 01:53] Nytelife26 commented on #605
That is referring to sentences, not paragraphs. Do note that in the [original issue] that lead to the creation of this rule, the subject of paragraphs and self-containment is addressed.

[original issue]: https://github.com/amperser/proselint/issues/98

[2021-08-24 19:47] #1140 closed

[2021-09-15 19:39] mohkale commented on #491
I appear to be having this issue.

[code]

annotations and curly quotes is working but I'm still getting sentence spacing and ellipsis warnings despite my config file disabling them.

[2021-09-26 22:33] Nytelife26 commented on #491
Thank you for the report, @mohkale. Can you tell us what version of proselint you are using, and if applicable show us the output of `--dump-config`?

[2021-09-26 22:34] mohkale commented on #491
@Nytelife26

I'm on `0.12.0`.

[2021-09-27 07:44] Nytelife26 commented on #491
And the output of `--dump-config`?

[2021-09-27 14:48] mohkale commented on #491
@Nytelife26

[code]

[2021-09-27 17:25] Nytelife26 commented on #491
Ah, I apologize, I didn't see which checks you had specifically disabled before. That's related to another ongoing issue - the disabling of individual subchecks.

[2021-09-27 17:27] mohkale commented on #491
@Nytelife26

Could you direct me to the issue ticket for it? This is the only issue I could find that seemed to be related to it.

[2021-09-28 21:58] Nytelife26 commented on #491
All related issues are attached to #1172

[2021-10-10 21:08] vEnhance commented on #926
Was able to get the error again, today. (It probably happened a lot earlier, but Vim silently discards the lint errors right now, so I only realize when I think to myself I haven't seen proselint go off in a while :P )

[code]

And here's the promised cache.

[proselint.tar.gz](https://github.com/amperser/proselint/files/7318254/proselint.tar.gz)

[2021-11-06 18:41] Nytelife26 commented on #926
@suchow It seems that the cache size ends up being around 20MB when it fails on UNIX systems, as my result was consistent with @vEnhance's.

It seems appropriate to implement a cache cleaning system rather than an infinitely growing cache, using methods like an LFRU for example. It may also be beneficial to make the cache work incrementally, so proselint does not re-evaluate all the cached text, b

[2021-11-06 18:42] Nytelife26 commented on #491
Closing in favour of #1172.

[2021-11-06 18:42] #491 closed

[2021-11-10 15:54] oxytocin opened #1240 "KeyError in Python"
I installed proselint with pip. Running the example in the readme:

[code]
gave me this output:

[code]

[The reason for this appears to be because the "lint" function makes "config" an empty dict by default](https://github.com/amperser/proselint/blob/f7faa720ea72cba3b0f7aa552fbf4dc62478e170/proselint/tools.py#L233). Perhaps having it load the default config instead would be a good solution?

I us

[2021-11-15 09:30] Nytelife26 commented on #1240
Thank you for the report. Making the config use the same defaults as the CLI would be a good solution.

[2021-11-16 16:09] oxytocin commented on #1240
Made a pull request (#1246)

[2021-11-27 00:14] #1240 closed

[2021-12-17 10:50] TomFryers opened #1258 "Six dependency"
As far as I can tell, this isn’t used any more.

[2022-01-02 21:22] kabouzeid commented on #677
I too find the wording of this a bit odd. The rule also seems a bit extreme.

[2022-01-10 23:57] ViViDboarder commented on #677
I'm also getting this in text with a single exclamation. It's less than a million words, so I guess it still triggers?

[2022-01-27 13:39] #922 closed

[2022-01-27 14:31] #1258 closed

[2022-01-27 18:17] yishairasowsky commented on #1240
@Nytelife26 @oxytocin @tommorris @fdb @blueyed
I had the same problem as the original post. How do I load the default config? Thanks!

[2022-01-30 18:11] Nytelife26 commented on #677
Leonard, Elmore. 2007. *Elmore Leonard's 10 Rules of Writing*. New York: William Morrow and Company.

[2022-04-15 16:16] brainwane opened #1290 "is demo site broken?"
In http://proselint.com/write/ in Chrome I do not see any lines underlined; is the site broken?

Thank you.

[2022-04-16 19:00] Nytelife26 commented on #1290
Quite possibly, it hasn't been updated in a long time. I haven't gotten around to touching web development yet, nor have I heard from J. Suchow in quite some time, so I'll have to get back to you on that.

[2022-05-08 17:35] naggie opened #1297 "False positive in hugo shortcode parameters"
(Sorry -- removed, wrong project!)

[2022-05-08 17:37] #1297 closed

[2022-07-08 13:40] Nytelife26 commented on #1290
Yes, the site is broken. I need to look into and fix the issue.

@suchow Any correspondence? I haven't heard from you in a long time.

[2022-07-08 13:58] Nytelife26 commented on #1127
I will, however, take your concern about the source cited to justify the rule into consideration right now. Wallace may be wrong in his categorization of accuracy as unquantifiable, and it would be wrong of us to pick and choose from the source on our own opinions. It is, therefore, necessary for us to find a source other than an opinion piece that makes strong cases for why its uncomparables are

[2022-07-08 15:05] OriolAbril commented on #1127
Thanks, that is very helpful! I'll stick with "uncertain" as quantifiable and avoid "certain".

For some extra context, in my case I also try to avoid "confident" generally because "confidence intervals" and "credible intervals" are both existing and different concepts referring to specific ways of quantifying the uncertainty, so I find it confusing to use confidence or credibility unless talking

[2022-07-08 16:33] Nytelife26 commented on #1127
I'm currently drafting a less opinionated piece comparing the linguistic uses of such phrases and trying to establish the category of "uncomparables" (or as I've found better to call them so far, incomparables). I'm glad my answer was of use to you, though.

I thought you may encounter that problem. The synonyms for uncertain are sparse and most of them are already used for other things in statist

[2022-07-25 20:23] milanglacier opened #1307 "when there is an error, `proselint --json` should output the error to `stderr` rather than `stdout`"
I am using `proselint` with `null-ls` which is a neovim plugin, essentially what this plugin does is `cat xxx.md | proselint --json` (assuming I am editing a markdown file),
sometimes what proseling output will be not a valid json,
i.e something like this:
[code]
which may from here,
https://github.com/amperser/proselint/blob/ea8c5749d4ea4fe1a137e45885254e71cbcefa98/proselint/tools.py#L65

i.e fro

[2022-07-26 00:13] jose-elias-alvarez commented on #1307
To provide a little additional detail here: null-ls is a plugin that spawns external processes like `proselint`, captures their output, and converts that output into Neovim's diagnostic format for display in the editor. In this case, the issue stems from the error message, which is sent to `stdout` and therefore breaks the plugin's attempts to parse it as JSON.

Ideally, running `proselint` with t

[2022-07-26 03:02] Nytelife26 commented on #1307
I use null-ls with Neovim on a daily basis, but thank you. It's an honour to speak with you.

This is strange behaviour on part of `proselint` indeed. I picked up the project a while ago, so I haven't yet squashed all the bugs. As you and @milanglacier have suggested, I'll look into why `proselint` sometimes fails to produce valid JSON, and also consider throwing to `stderr`.

[2022-07-26 09:19] milanglacier commented on #1307
I find that if proselint is installed by the python installed by homebrew, then it will continuously give me such warning, i.e it can not open the file in ~/.cache/proselint folder.
However, if I install proselint via a venv in my home and not use the python installed by homebrew (in fact the python from miniforge) and then it works fine and no warning.

[2022-07-26 17:32] Nytelife26 commented on #1307
Odd, I suspected it would be a filesystem issue persistent with most modern UNIX systems. Alas, I should expect nothing less from MacOS 😂 I'll investigate later tonight. Fortunately we have MacOS available in GitHub actions so I can test it that way.

[2022-07-30 16:59] mcepl opened #1308 "“Very” is very restrictive"
I love that advice by Mark Twain about “very” as every other guy, but proselint is just doing too much:
[code]
Sentence starting with "Very well" is just too common to be highlighted as wrong.

[2022-08-08 22:19] mcepl commented on #1307
Actually, it doesn’t seem to be reproducible on Linux as well.

Using neovim nightly (commit 62916946), proselint 0.13.0, null-ls actual).

[2022-09-20 09:33] amotl commented on #542
Hi,

we are running into the same problem on a code block within a reStructuredText document.

#### Example
[code]

#### Error
[code]

With kind regards,
Andreas.

[2022-11-01 22:22] chrisgrieser opened #1323 "Bug: config is being ignored, even though confirmed as valid by `--dump-config`"
Even though `--dump-config` confirms the change I made in the config file, when running `proselint`, the disabling of the check is ignored.

[code]

[code]

[2022-11-01 22:45] tim-hilde commented on #1082
Any update on this? Just discovered proselint and had the same error

[2022-11-03 15:58] #1323 closed

[2022-11-13 00:22] TranquilMarmot opened #1324 "Print out every occurrence of an issue"
I'd love to use proselint (especially with the VSCode extension) but one thing blocking me is that it will only ever print out the first occurrence of an error.

For example, if you give this input:

[code]

This is the output:

[code]

This is not very helpful if, for example, you are writing a 50,000-word novel and sometimes characters speak and say things like "very," but you still want to catc

[2022-11-14 15:38] Stakker opened #1326 "Many errors when doing anything"
Hey! Proselint was awesome as long as it worked (I used it via the Sublime Text plugin), but suddenly it stopped working... Now when I try anything, for example "proselint --demo", it dumps a bunch of errors. I installed (and reinstalled) version 0.13.0 from Homebrew on macOS 11.7.1.

This is what I get from "proselint --demo":

Traceback (most recent call last):
  File "/usr/local/bin/proselint",

[2022-11-15 07:57] Stakker commented on #1326
Something about the config file did it. Creating the file again helped. *shrug*

[2022-11-15 07:57] #1326 closed

[2022-11-15 13:30] exhuma opened #1327 "Clarify the message from "weasel_words.very""
Currently, the error message reads:

This is misleading for two reasons:

1. It suggests that I should write "damn" instead
2. It suggests that my code-editor would automatically remove the word, which makes no sense whatsoever

As this was deeply puzzling to me (especially the "editor" part), I found the site linked in the source-code: https://quoteinvestigator.com/2012/08/29/substitute-damn/

On

[2022-11-15 13:57] exhuma opened #1328 "Use "logging" instead of "print" to enable output-control"
Currently `proselint` writes non-essential information onto `stout`. This is caused by using the `print()` function for those messages. For example, the following message

is cause by https://github.com/amperser/proselint/blob/ea8c5749d4ea4fe1a137e45885254e71cbcefa98/proselint/tools.py#L81

This makes `proselint` excessively verbose on large projects and there is no way to circumvent this.

On typ

[2022-11-15 14:03] exhuma opened #1329 "Filenames are lost when using as pre-commit hook"
I have proselint set up as pre-commit hook and see the following message:

[code]

This is missing the filename and makes it unnecessarily difficult to find that occurrence.

[2022-11-26 12:43] felixfischer commented on #308
this went stale – closing the issue as I am no longer using the repo

[2022-11-26 12:43] #308 closed